[submodule "lib"]
	path = lib
	url = https://github.com/libusual/libusual.git
[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "uncrustify"]
	path = uncrustify
	url = https://github.com/uncrustify/uncrustify
