[tool.pytest.ini_options]
addopts = [
    "--import-mode=prepend",
    "--showlocals",
    "--tb=short",
]
markers = [
    "md5: uses MD5, will fail in FIPS mode",
]
timeout = 30

asyncio_mode = 'auto'

# Make test discovery quicker
norecursedirs = [
    '*.egg',
    '.*',
    '__pycache__',
    'venv',
    'src',
    'lib',
]

filterwarnings = [
    'error',
    # Ignore psycopg close warnings. In some tests we don't close all opened
    # connections manually. This is no problem in practice. They get cleaned up
    # at the end of the test run anyway. It's only a few sockets and a bit of
    # memory that does not get cleaned up before process exit.
    'ignore:.*psycopg.Connection.*was deleted while still open.*:ResourceWarning'
    # To ignore other warnings use the syntax described here:
    # https://docs.pytest.org/en/latest/how-to/capture-warnings.html#controlling-warnings
]

[tool.isort]
profile = 'black'
