[tool.pytest.ini_options]
addopts = [
    "--import-mode=prepend",
    "--showlocals",
    "--tb=short",
]
markers = [
    "md5: uses MD5, will fail in FIPS mode",
]
timeout = 30

asyncio_mode = 'auto'

# Make test discovery quicker
norecursedirs = [
    '*.egg',
    '.*',
    '__pycache__',
    'venv',
    'src',
    'lib',
]

filterwarnings = [
    'error',
    # To ignore certain warnings use the syntax described here:
    # https://docs.pytest.org/en/latest/how-to/capture-warnings.html#controlling-warnings
]

[tool.isort]
profile = 'black'
