configure
usual/config.h*
config.status
config.log
config.mak
obj
test/obj
test/test_config.h
test/regtest_*
test/compile
test/connect
doc/html
*.[oas]
*.gc[odn][aov]
*.la
*.pc
*.log
*.substvars
*.debhelper
*.diff
zconf.*

./install-sh
config.guess
config.sub
ltmain.sh
libtool
build.mk
.objs
.libs
.deps
install-sh
tmp
tags

mk/temos/html
mk/temos/output
