#! /usr/bin/make -f

export V=1
export DH_VERBOSE = 1
export DEB_BUILD_OPTIONS = nostrip
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_clean:
	if test -f config.mak; then $(MAKE) clean; fi

